<%= render 'shared/error_messages', :object => f.object %>
<h1><%= @user.business1_name %><br /></h1>
<div class="field">
  <%= f.label :business1_member_type, "Member Type" %><br />
  <%= f.text_field :business1_member_type %>
</div>
<div class="field">
  <%= f.label :business1_id, "User ID Number" %><br />
  <%= f.text_field :business1_id %>
</div>
<h1><%= @user.business2_name %><br /></h1>
<div class="field">
  <%= f.label :business2_member_type, "Member Type" %><br />
  <%= f.text_field :business2_member_type %>
</div>
<div class="field">
  <%= f.label :business2_id, "User ID Number" %><br />
  <%= f.text_field :business2_id %>
</div>
<h1><%= @user.business3_name %><br /></h1>
<div class="field">
  <%= f.label :business3_member_type, "Member Type" %><br />
  <%= f.text_field :business3_member_type %>
</div>
<div class="field">
  <%= f.label :business3_id, "User ID Number" %><br />
  <%= f.text_field :business3_id %>
</div>
<h1><%= @user.business4_name %><br /></h1>
<div class="field">
  <%= f.label :business4_member_type, "Member Type" %><br />
  <%= f.text_field :business4_member_type %>
</div>
<div class="field">
  <%= f.label :business4_id, "User ID Number" %><br />
  <%= f.text_field :business4_id %>
</div>
<div class="field">
  <%= f.label :password %><br />
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation, "Confirmation" %><br />
  <%= f.password_field :password_confirmation %>
</div>

      
