<p>
<h1><%= @user.business1_name %></h1><br />
<strong>Member Type: </strong><%= @user.business1_member_type %><br />
<strong>Member ID: </strong><%= @user.business1_id %><br />
<br />
<h1><%= @user.business2_name %></h1><br />
<strong>Member Type: </strong><%= @user.business2_member_type %><br />
<strong>Member ID: </strong><%= @user.business2_id %><br />
<br />
<h1><%= @user.business3_name %></h1><br />
<strong>Member Type: </strong><%= @user.business3_member_type %><br />
<strong>Member ID: </strong><%= @user.business3_id %><br />
<br />
<h1><%= @user.business4_name %></h1><br />
<strong>Member Type: </strong><%= @user.business4_member_type %><br />
<strong>Member ID: </strong><%= @user.business4_id %><br />
<br />

</p>

<%= link_to "Edit Merchant Info", edit_merchant_info_path %>
