<h1><%= @user.name %>'s Merchant Accounts</h1>
<p>
<%= @user.business1_name %><br />
<%= @user.business1_member_type %><br />
<%= @user.business1_id %><br />
<br />
<%= @user.business2_name %><br />
<%= @user.business2_member_type %><br />
<%= @user.business2_id %><br />
<br />
<%= @user.business3_name %><br />
<%= @user.business3_member_type %><br />
<%= @user.business3_id %><br />
<br />
<%= @user.business4_name %><br />
<%= @user.business4_member_type %><br />
<%= @user.business4_id %><br />
<br />

</p>