<table class="profile" summary="Payment confirmation">
  <tr>
    <td class="scanin">
      <h1>
      <%= @user.name %><br />
      </h1>
      <%= @user.street_address %><br />
      <%= @user.city_address %> <%= @user.state_address %> <%= @user.zip_code %><br />     
    </td>
    <td class="scanin_gravatar">
      <%= gravatar_for @user, options = { :size => 150 } %>
    </td>
  </tr>
  <tr>
    <td class="amount_text">
      <h1>Amount to be Charged: <%= number_to_currency params[:amounttopay] %></h1>
    </td>
  </tr>
  <tr>
    <td class="main">
      <%= link_to "Purchase", "/paymentposted/"+ params[:id] + "/" + params[:amounttopay], :class => "purchase_button round" %><br>
    </td>
    <td class="main">
      <%= link_to "Cancel", clientdemo_path, :class => "cancel_button round" %>
    </td>
  </tr>
</table>