<script language="javascript" type="text/javascript">
function timer() 
{
  var t = setTimeout("window.location.replace('http://localhost:3000/clientdemo')", 4000);	
}
</script>

<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
	    Welcome Back
	    <%= gravatar_for @user %>
	    <%= @user.name %>!
	  </h1>
	</td>
	<td class = "sidebar round">
	  <strong>Name</strong> <%= @user.name %><br />
	  <strong>Address</strong><br />
	  <%= @user.street_address %><br />
	  <%= @user.city_address %> <%= @user.state_address %> <%= @user.zip_code %><br />
	  <strong>Phone Number</strong><br />
	  <%= @user.phone_number %>

	   
	</td>
  </tr>
</table>
<%= link_to "Continue", clientdemo_path, :class => "signup_button round" %>

<script language="javascript" type="text/javascript">
  timer();
</script>