<!DOCTYPE html>
<html>
<!-- BioPlugin ActiveX control to capture finger data -->
<OBJECT ID="BioPlugInActX" WIDTH=0 HEIGHT=0 CLASSID="CLSID:05E8280C-D45A-494F-AE42-840A40444AFF">
<param name="_Version" value="65536">
<param name="_ExtentX" value="2646">
<param name="_ExtentY" value="2646">
<param name="_StockProps" value="0">
</OBJECT>

  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "curvycorners.js" %>

    <script language="javascript" type="text/javascript">
    /* global variables used to determine which route to
    take after onIdentify */

    checkin=false;
    payscan=false;

    /* Identify calls single finger scan from M2Sys ActiveX control */
    function Identify()
    {
      BioPlugInActX.IdentifyQuick(0);
    }

    /* scanIn is called after onIdentify for checkin */
    function scanIn(uid)
    {
      var targetURL = 'http://noattademo.heroku.com/scanin/'
      window.location.replace(targetURL + uid); 
    }

    /* scanPay is called after onIdentify for payment */
    function scanPay(uid)
    {
      var targetURL = 'http://noattademo.herkou.com/paymentconfirmation/'
      var amount = <%= params[:amounttopay] %>
      window.location.replace(targetURL + uid + "/" + amount); 
    }
    </script>


    <script language="javascript" type="text/javascript" for="BioPlugInActX" event="OnIdentify()" >
      /* catches onIdentify ActiveX event and directs to correct page 
      for either check in or payment */

      var foundID = BioPlugInActX.result;
      if ((foundID == "000000000") | (foundID == "-1"))
      {
        window.location.replace('http://noattademo.heroku.com/usernotfound');
      }
      else
      { 
        if ( checkin === true )
        {
          checkin=false;
          scanIn(foundID);
        }
        if ( payscan === true )
        {
          payscan=false;
          scanPay(foundID);
        }
      }
    </script>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <section class="round">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <% if signed_in? %>
          <table class="body" summary="For signed-in users">
            <tr>
              <% if @nosidebar.nil? %>
                <td class="sidebar_nav">
                  <%= render 'shared/sidebar_nav_buttons' %>
                </td>
              <% end%>
              <td>
                <%= yield %>
              </td>
            </tr>
          </table>
        <% else %>
          <%= yield %>
        <% end %>
      </section>
      
    </div>
  </body>
</html>